.div-content {
  display: none;
  text-align: center;
}
.reg_button {
  width: 70%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 200, 124, 1) 0%,
    rgba(252, 251, 121, 1) 90%
  );
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  text-align: center;
}

.div-content {
  background: white;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 40%;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

.navbutton {
  margin-bottom: 50px;
}
